* {
    padding: 0;
    margin: 0;
    border: 0;
    overflow-x: hidden;
}

@font-face {
    font-family: Divina;
    src: url(ASSETS/FONT/ZZYZX.TTF)
}

@font-face {
    font-family: Menutexto;
    src: url(ASSETS/FONT/Josefins.ttf)
}

@font-face {
    font-family: Frete;
    src: url(ASSETS/FONT/Shoulder.ttf)
}

:root {
    --cor-cabecalho-hover: #696969;
    --cor-cabecalho-color: #fffff9;
    --cor-cabecalho-preto: #000;
    --cor-cabecalho-branco: #FFF;
    --cor-primeira: #C9F0FF;
    --cor-segunda: #EAFFFD;
    --cor-terceira: #EFEFF0;
    --cor-quarta: #D6CAD6;
    --cor-quinta: #6B5E62;
}

.cabecalho {
    padding: 2rem;
    background-color: var(--cor-cabecalho-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 0px 0px 40px 40px;
}

.cabecalho1 {
    width: 100vw;
}

.cabecalho a {
    text-decoration: none;
}

.logo {
    font-size: 21px;
    font-family: 'Divina';
    color: var(--cor-cabecalho-hover);
    text-decoration: none;
    font-weight: 100;
}


.menu {
    color: var(--cor-cabecalho-hover);
}

.menu:hover {
    border-bottom: 1px solid var(--cor-cabecalho-hover);
}

.menuclass {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    font-family: 'Menutexto';
    font-weight: 300;
    font-size: 18px;
}

.bannersection {
    width: 100vw;
}

.frete {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Frete';
    font-size: 20px;
}

.destaques {
    font-family: 'Menutexto';
    color: var(--cor-quinta);
    text-align: center;
    padding: 3rem 0rem 3rem 0rem;
    font-size: 50px;
    font-weight: 700;
}

.img {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100vw;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
}

.titulomaster{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 10px 10px;
    align-items: center;
}

.tituloroupa {
    font-family: 'Menutexto';
    font-weight: 300;
}

.imagenscarrousel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100vw;
    gap: 1rem ;
    padding-bottom: 1rem;
}

.imagenscarrousel img {
    width: 33vw;
}

.tituloimagenscarrousel {
    font-family: 'Menutexto';
    color: var(--cor-quinta);
    text-align: center;
    padding: 3rem 0rem 1rem 0rem;
    font-size: 50px;
    font-weight: 700;
}

.textocarrousel {
    font-family: 'Menutexto';
    color: var(--cor-quinta);
    text-align: center;
    padding: 3rem 0rem 0rem 0rem;
    font-size: 50px;
    font-weight: 700;
    border-radius: 40px 40px 0px 0px ;
}

.tamanhos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textocarrousel1 {
    font-family: 'Menutexto';
    font-weight: 300;
    padding: 0.5rem 4rem 0.5rem 0.5rem;
}



@media (max-width: 560px) {
    .cabecalho {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .menuclass {
        flex-direction: column;
        padding-top: 1rem;
    }
}
